# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
tmp
out-tsc
data
json
public-data
tenancy-data

# dependencies
node_modules

# IDEs and editors
/.idea
.angular
.VSCodeCounter
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Generated Source

libs/auth/*
libs/common/*
libs/shared/*
libs/mda/*
scripts/*
sqlite-data/*
tenancy-data/*
test-data-old/*

apps/demo1/grpc/*
apps/demo1/mms-worker/*
apps/demo1/trigger/*
apps/mailer-server/*
apps/util-server/*

apps/demo1/graphql/src/app/fileupload/*
apps/demo1/graphql/src/app/font/*
apps/demo1/graphql/src/app/generated/types/*
apps/demo1/graphql/src/app/generated/graphql/**/*.base.type.ts
apps/demo1/graphql/src/app/generated/graphql/**/*.input.ts
apps/demo1/graphql/src/app/generated/graphql/**/*.module.ts
apps/demo1/graphql/src/app/generated/graphql/**/*.provider.ts
apps/demo1/graphql/src/app/generated/graphql/**/*.resolver.ts
!apps/demo1/graphql/src/app/generated/graphql/**/*.ext.resolver.ts
apps/demo1/graphql/src/app/pdf-report/*
apps/demo1/graphql/src/app/template/*
apps/demo1/graphql/src/app/translation/*
apps/demo1/graphql/src/assets/*
apps/demo1/graphql/src/cert/*

libs/demo1/src/lib/generated/interfaces/*
libs/demo1/src/lib/generated/json/*
libs/demo1/src/lib/generated/protos/*
libs/demo1/src/lib/generated/types/*
libs/demo1/src/lib/generated/utils/*
libs/demo1/src/lib/generated/services/**/*-db.service.ts
libs/demo1/src/lib/generated/services/**/*-test.service.spec.txt
libs/demo1/src/lib/generated/services/**/*.schema.ts
libs/demo1/src/lib/generated/services/**/*.provider.ts
libs/demo1/src/lib/generated/services/**/*.service.ts
!libs/demo1/src/lib/generated/services/**/*-ext.service.ts
!libs/demo1/src/lib/generated/services/**/*-test.service.ts
libs/demo1/src/lib/generated/services/**/index.ts

test-translate.js
sqlite-data.zip
sqlite2pg.mjs
*.sh
*.js
*.yml
*.mjs
Dockerfile.*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
/apps/demo1/graphql/src/app/mail/mail-template/node_modules
/apps/demo1/graphql/src/app/mail/mail-template/dist

# System Files
.DS_Store
Thumbs.db

.angular
